*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    position: relative;
    top: 150px;
    height: calc(100% - 300px);
}
h1 {
    text-align: center;
}
.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    position: relative;
    left: 300px;
    width: calc(100% - 600px);

}
.bill_section {
    background-color: red;
}
.total_section {
    background-color: yellow;
}
/*Bill Section*/
.bill_section div:nth-child(1) {
   
    background-color: green;
    position: relative;
    left: 70px;
    width: calc(100% - 140px)
}
label.bill_title {
    display: block;
    position: relative;
   
}
.tip_selection {
    background-color: blue;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    left: 70px;
    width: calc(100% - 140px);
}
.tip_selection .btn {
    height: 50px;
    width: 100px;
}
.num_of_people {
    background-color: pink;
    position: relative;
    left: 70px;
    width: calc(100% - 140px);
}
.people_input_label {
    display: block;
}
.people_input {
    width: 100%;
}

